<?xml version="1.0"?>
<model>
  <name>scorpio</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Lihan Chen</name>
    <email>lihanchen2004@163.com</email>
  </author>

  <description>
    The scorpio robot model is modified from:
    https://app.gazebosim.org/MovAi/fuel/models/Tugbot
  </description>
</model>
