<?xml version="1.0"?>
<model>
  <name>ydlidar_g4</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Lihan Chen</name>
    <email>lihanchen2004@163.com</email>
  </author>

  <description>
    ydlidar_g4:https://www.ydlidar.com/product/ydlidar-g4
  </description>
</model>
