<?xml version="1.0"?>
<model>
  <name>realsense_d435i</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Lihan Chen</name>
    <email>lihanchen2004@163.com</email>
  </author>
  <description>
    realsense d435i camera: https://www.intel.com/content/www/us/en/products/sku/190004/intel-realsense-depth-camera-d435i/specifications.html
  </description>
</model>
